<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link font-weight-bold active" href="#" id="added-case-tab" data-toggle="tab" data-target="#added-case" role="tab" aria-controls="home" aria-selected="true">Added cases this month</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-bold" href="#" id="synced-case-tab" data-toggle="tab" data-target="#synced-case" role="tab" aria-controls="home" aria-selected="true">Synced cases this month</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-bold" href="#" id="cross-referral-osca-tab" data-toggle="tab" data-target="#cross-referral-osca" role="tab" aria-controls="home" aria-selected="true">Cross referral within OSCaR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-bold" href="#" id="cross-referral-to-primero-tab" data-toggle="tab" data-target="#cross-referral-to-primero" role="tab" aria-controls="home" aria-selected="true">Cross referral to Primero</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-bold" href="#" id="cross-referral-from-primero-tab" data-toggle="tab" data-target="#cross-referral-from-primero" role="tab" aria-controls="home" aria-selected="true">Cross referral from Primero</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-weight-bold" href="#" id="cross-referral-from-primero-tab" data-toggle="tab" data-target="#vulnerability-and-service-type" role="tab" aria-controls="home" aria-selected="true">Vulnerability Cases and Service Types</a>
  </li>
</ul>
