body {
  font-size: 14px;

  @media (min-width: 1600px) {
    font-size: 16px;
  }

  .navbar.main {
    background-color: #efefef !important;
  }

  .nav-item.active {
    a {
      font-weight: 600;
      border-bottom: 5px solid #2e2f31;
    }
  }

  .btn {
    padding-left: 50px;
    padding-right: 50px;
  }

  .chart-container {
    max-width: 800px;
    padding: 20px 10px;
  }

  #ngo-by-country,
  #cases-synced-to-primero,
  #clients-age-gender {
    max-height: 500px;
  }

  .pagination {
    justify-content: center;
  }

  canvas.pie-chart {
    margin: auto;
    max-width: 350px;
    max-height: 350px;
  }
}
